* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --color-white: #fff;
  --color-black: #000;
}

body {
  margin: 0;
}

h1,
h2,
h3,
p,
span,
a,
button {
  font-family: "Roboto", sans-serif;
  color: #000;
  text-decoration: none;
  margin: 0;
}
